* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  overflow: hidden;
}

.hidden {
  display: none;
}

#canvas {
  background-size: 500px;
  border: black 2px solid;
  /* border: none; */
  /* overflow: hidden; */
}

#scorePoints {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  user-select: none;
}
